PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/savr
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=*
BCRYPT_SALT_ROUNDS=10
OTP_TTL_MINUTES=5
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_PATH=
GOOGLE_APPLICATION_CREDENTIALS=
